.row-footer {
  padding: 0 .8rem;
}

.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0 !important;
  font-size: 1.4rem;

  @include responsive(tablet-port) {
    padding:  8rem 0;
  }

  &__logo {
    width: 15rem;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 7rem;

    @include responsive(tablet-port) {
      margin-bottom: 4rem;
    }
  }

  &__navigation {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #777;

    @include responsive(tablet-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: #f7f7f7;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.5s;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-color: $color-grey-dark-3;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(-5deg) scale(1.3);
      z-index: 999;
    }

  }

  &__copyright {
    color: #f7f7f7;
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 100%;
    float: right;

    @include responsive(tablet-port) {
      width: 100%;
      float: no;
    }
  }
}
